@model CursoMVC.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<div class="fg3">
    <h2>Lista de Pessoas</h2>
    <div>
        <b>Código </b>
        @Model.PessoaId
    </div>
    <div>
        <b>Nome </b>
        @Model.Nome
    </div>
    <div>
        <b>Twitter </b>
        @Model.Twitter
    </div>
</div>